# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^operation/all   operationController.php?get=all [nc,qsa]
RewriteRule ^operation/test   testController.php?get=test [nc,qsa]
RewriteRule ^operation/end   testController.php?get=end [nc,qsa]
RewriteRule ^operation/([0-9]+)   operationController.php?get=single&id=$1 [nc,qsa]
RewriteRule ^operation/group   operationController.php?post=group [nc,qsa]
RewriteRule ^group/([0-9]+)   groupController.php?post=group&id=$1 [nc,qsa]
RewriteRule ^group/people/([0-9]+)  groupController.php?get=people&id=$1 [nc,qsa]
RewriteRule ^operation/people   operationController.php?post=people [nc,qsa]
RewriteRule ^user/checkAuth   userController.php?get=auth [nc,qsa]
RewriteRule ^user/qualifications/([0-9]+)   userController.php?get=qualifications&id=$1 [nc,qsa]
RewriteRule ^user/qualifications   userController.php?post=qualification [nc,qsa]
RewriteRule ^user/retrainings/([0-9]+)   userController.php?get=retrainings&id=$1 [nc,qsa]
RewriteRule ^messages   messageController.php?get=messages [nc,qsa]
RewriteRule ^events   datesController.php?get=dates [nc,qsa]



RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]



