# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^operation/all   operationController.php?get=all [nc,qsa]
RewriteRule ^operation/([0-9]+)   operationController.php?get=single&id=$1 [nc,qsa]
RewriteRule ^operation/test   operationController.php?get=test [nc,qsa]
RewriteRule ^operation/group   operationController.php?post=group [nc,qsa]
RewriteRule ^group/([0-9]+)   groupController.php?post=group&id=$1 [nc,qsa]
RewriteRule ^group/people/([0-9]+)  groupController.php?get=people&id=$1 [nc,qsa]
RewriteRule ^operation/people   operationController.php?post=people [nc,qsa]

RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]



